<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mon compte</title>

    <link rel="stylesheet" type="text/css" media="all" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/custom.css"/>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar navbar-light bg-light">
    <img src="" width="32" height="32" alt="">
    <a class="navbar-brand" href="/"> MyBank</a>

</nav>

<div class="card-columns">
    <th:block th:each="op : ${operations}">
        <div class="card">
            <div>
                <p class="card-title" th:text="${op.getOperation()}"></p>
            </div>
        </div>

    </th:block>
</div>

</body>



</html>
