<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mon compte</title>

    <link rel="stylesheet" type="text/css" media="all" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/custom.css"/>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar navbar-light bg-light position-relative">
    <img src="/static/img/img.jpg" width="32" height="32" alt="">
    <a class="navbar-brand" href="/"> Bank Transfer</a>
    <a class="navbar-nav ml-auto rounded text-danger align-content-center" href="/login">Déconnexion</a>
</nav>

<main role="main" class="container position-relative" >
    <div>
        <p>Bonjour <b th:text="${customer.getName()}"></b>  Votre Solde est de  : <b th:text="${customer.getSolde()}"></b> € </p>
    </div>
    <div>
        <p> Voici les opérations effectuées </p>
    </div>
    <div class="list-group">
        <th:block th:each="op : ${operations}">

            <p class="list-group-item col-auto" th:text="${op.getOperation()}"></p>


        </th:block>
    </div>

</main>

</body>


</html>
